.fk-is-dashlet-stats {
  background-color: white;
  padding: 4px 4px;
}
.fk-is-dashlet-stats > a {
  display: flex;
  text-decoration: none;
}
.fk-is-dashlet-stats > a:hover {
  text-decoration: none;
}
.fk-is-dashlet-stats--icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6px;
}
.fk-is-dashlet-stats--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fk-is-dashlet-stats--details--title {
  color: #6B7280;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 4px;
}
.fk-is-dashlet-stats--details--value {
  text-decoration: none;
  color: #111827;
  font-weight: 600;
  font-size: 20px;
}
.fk-is-dashlet-compare-stats--delta {
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  padding: 2px 4px;
  margin: 2px 4px;
  vertical-align: bottom;
}
.fk-is-dashlet-compare-stats--delta.fk-is-dashlet-compare-stats--delta-positive {
  background-color: #A7F3D0;
  color: #064E3B;
}
.fk-is-dashlet-compare-stats--delta.fk-is-dashlet-compare-stats--delta-positive > i {
  color: #047857;
}
.fk-is-dashlet-compare-stats--delta.fk-is-dashlet-compare-stats--delta-negative {
  background-color: #FECACA;
  color: #7F1D1D;
}
.fk-is-dashlet-compare-stats--delta.fk-is-dashlet-compare-stats--delta-negative > i {
  color: #DC2626;
}
.fk-is-dashlet-compare-stats--delta > i {
  font-size: 13px;
  padding-right: 4px;
}
