$fk-is-dashlet-stats--white: white;
$fk-is-dashlet-stats--grey: #6B7280;
$fk-is-dashlet-stats--black: #111827;

$fk-is-dashlet-compare-stats--delta-negative--background-color: #FECACA;
$fk-is-dashlet-compare-stats--delta-negative--color: #7F1D1D;
$fk-is-dashlet-compare-stats--delta-negative--icon--color: #DC2626;
$fk-is-dashlet-compare-stats--delta-positive--background-color: #A7F3D0;
$fk-is-dashlet-compare-stats--delta-positive--color: #064E3B;
$fk-is-dashlet-compare-stats--delta-positive--icon--color: #047857;

.fk-is-dashlet-stats{
  background-color: $fk-is-dashlet-stats--white;
  padding: 4px 0px;
  >a {
    display: flow-root;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}
.fk-is-dashlet-stats--icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6px;
}
.fk-is-dashlet-stats--details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fk-is-dashlet-stats--details--title {
  color: $fk-is-dashlet-stats--grey;
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 4px;
}
.fk-is-dashlet-stats--details--shortname {
  color: $fk-is-dashlet-stats--black;
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 4px;
}
.fk-is-dashlet-stats--details--value {
  text-decoration: none;
  color: $fk-is-dashlet-stats--black;
  font-weight: 600;
  font-size: 14px;
  text-align: end;
}
.fk-is-dashlet-compare-stats--delta{
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  padding: 2px 4px;
  margin: 2px 4px;
  vertical-align: bottom;
  
  &.fk-is-dashlet-compare-stats--delta-positive{
    background-color: $fk-is-dashlet-compare-stats--delta-positive--background-color;
    color: $fk-is-dashlet-compare-stats--delta-positive--color;
    >i{
      color: $fk-is-dashlet-compare-stats--delta-positive--icon--color
    }
  }
  &.fk-is-dashlet-compare-stats--delta-negative{
    background-color: $fk-is-dashlet-compare-stats--delta-negative--background-color;
    color: $fk-is-dashlet-compare-stats--delta-negative--color;
    >i{
      color: $fk-is-dashlet-compare-stats--delta-negative--icon--color
    }
  }
  >i{
    font-size: 13px;
    padding-right: 4px;
    display: flex;
  }
}